<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>Awesome Tweets</title>
</head>

<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand-center" href="#">
        <img alt="Brand" src="https://upload.wikimedia.org/wikipedia/en/4/4a/Wikipedia-logo-Martial-Arts-nobg.png" style ="width: 3%">
      </a>
      <ul class = "nav navbar-nav navbar-right">
        <li> <a href="/">Home</a>  </li>
        <li> <a href="/dashboard">Dashboard</a> </li>
      </ul>

  </div>
</nav>
<img src="http://images.all-free-download.com/images/graphiclarge/clouds_in_sky_background_192377.jpg" style = "width: 100%" alt="">
  </body>
